@import "_variable.scss";
@import "_reset.scss";
@import "_headFoot.scss";

body {
  .container {
    .checkout_2 {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 30px 0;

      .ship {
        width: 60%;
        display: flex;
        flex-direction: column;
        .form {
          height: 512px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 30px 40px;
          box-sizing: border-box;
          background-color: $main-deep;
          color: $main-light;

          &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            font-size: 2em;
            font-weight: 500;
            position: relative;
            
            ul {
              display: flex;
              justify-content: space-between;
              width: 50%;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                width: 50%;
                height: 1px;
                background: $main-light;
              }
              li {
                width: 17px;
                height: 17px;
                background: $main-deep;
                border: 1px solid $main-light;
                border-radius: 50%;
                z-index: 1;
              }
              .done::after {
                content: "";
                position: absolute;
                top: 50%;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                transform: translate(10%, -55%);
                background: $main-light;
              }
            }
          }
          &__name {
            display: flex;
            justify-content: space-between;
            & > * {
              width: 49%;
            }
            & input {
              width: 100%;
              height: 56px;
              box-sizing: border-box;
              background-color: $main-light;
              border: 0px;
              font-size: 1.2em;
              color: $main-text;
              padding: 0 20px;
              outline: none;
            }
            & p {
              font-size: 1.2em;
              margin-bottom: 10px;
            }
          }
          &__card {
            display: flex;
            flex-wrap: wrap;
            & input {
              border-radius: 0;
              width: 80%;
              height: 56px;
              box-sizing: border-box;
              background-color: $main-light;
              border: 0px;
              font-size: 1.2em;
              color: $main-text;
              padding: 0 20px;
              outline: none;

            }
            & i{
              width: 20%;
              box-sizing: border-box;
              height: 56px;
              @extend %flexCenter;
              background-color: $main-light;
              color: $main-deep;
            }
            & p {
              width: 100%;
              font-size: 1.2em;
              margin-bottom: 10px;
            }
          }
          &__date {
            display: flex;
            flex-direction: column;
            & > * {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
            & select {
              width: 49%;
              height: 56px;
              box-sizing: border-box;
              background-color: $main-light;
              border: 0px;
              color: $main-text;
              font-size: 1em;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding:0 20px;
              outline: none;
            }
            & p {
              font-size: 1.2em;
              margin-bottom: 10px;
            }
          }
          &__numberTitle{
            font-size: 1.2em;
          }
          &__address {
            width: 50%;
            height: 56px;
            box-sizing: border-box;
            background-color: $main-light;
            border: 0px;
            font-size: 1.2em;
            padding: 0 20px;
            color: $main-text;
            outline: none;
          }
        }
        .form-btn {
          height: 65px;
          background-color: $yellow;
          color: $main-deep;
          @extend %flexCenter;
          font-size: 1.5em;
          font-weight: 500;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }
      }
      .order {
        width: 38%;
        display: flex;
        flex-direction: column;
        .cart-check {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border: 1px solid $main-light;
          margin-bottom: 20px;

          &__first {
            width: 100%;
            height: 128px;
            background-color: $white;
            color: $main-text;
            padding: 16px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & > :nth-child(1),
            :nth-child(2),
            :nth-child(3) {
              display: flex;
              justify-content: space-between;
            }
            & > :nth-child(2),
            :nth-child(3) {
              font-size: 0.9em;
              font-weight: 200;
            }
            & > :nth-child(3) {
              font-size: 1.2em;
              font-weight: 400;
            }
          }
          &__second {
            width: 100%;
            height: 65px;
            background-color: $main-light;
            text-decoration: none;
            color: $main-text;
            font-size: 1.6em;
            @extend %flexCenter;
          }
        }
        .cart-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          border: solid 1px $main-light;

          &__title {
            width: 100%;
            height: 65px;
            color: $main-text;
            background-color: $main-light;
            @extend %flexCenter;
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 8px;
          }
          &__detail {
            width: 100%;
            display: flex;
            color: $main-deep;
            justify-content: space-between;
            align-items: center;
            padding: 8px 20px;
            box-sizing: border-box;
            .itmeA {
              background-image: url("../img/item1.jpg");
            }
            .itmeB {
              background-image: url("../img/item2.jpg");
            }
            .itmeC {
              background-image: url("../img/item3.jpg");
            }

            &__img {
              width: 120px;
              height: 80px;
              background: {
                image: url("../img/item1.jpg");
                size: cover;
                position: center;
              }
            }
            &__name {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              font-size: 1em;
              line-height: 25px;
              color: $main-text;

              & > :nth-child(2) {
                font-size: 1.2em;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:$m){
  body{
    .container{
      .checkout_2{
      width: 100%;
      margin: 0px;
        .ship{
          width: 100%;
        }
        .order{
          display: none;
        }
      }
    }
  }
}