body .container .header .hamburger, body .container .footer__top, body .container .footer__top__area__btns > :first-child, body .container .footer__top__area__btns > :last-child, body .container .footer__bottom, body .container .products__content__list > *, body .container .products__content .select__item__img__text, body .container .products__content .select__item__name__title, body .container .products__content .select__item__name__price, body .container .products__bottom__page > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .products__content .select__item__img__text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

* {
  -webkit-appearance: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "PingFang TC", "cwTeXYen", sans-serif;
}

body .container {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .container .header {
  max-width: 940px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header__left {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header__left img {
  width: 200px;
}

body .container .header__right {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .hamburger {
  cursor: pointer;
  display: none;
  width: 15%;
}

body .container .header .hamburger span {
  margin: 5px 0;
  position: relative;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: #3f5d45;
}

body .container .header .hamburger span:before, body .container .header .hamburger span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #3f5d45;
}

body .container .header .hamburger span:before {
  top: -5px;
}

body .container .header .hamburger span:after {
  top: 5px;
}

body .container .header .mobile-bar {
  display: none;
  background: #fff;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .mobile-bar li {
  display: none;
  margin: 0;
  padding: 10px 0;
  width: 90%;
  border-bottom: 1px solid #EAF0ED;
}

body .container .header .mobile-bar li:hover {
  background-color: #ffe180;
}

body .container .header .mobile-bar li a {
  text-decoration: none;
  color: #3f5d45;
}

body .container .header .mobile-bar li:last-child {
  border: none;
}

body .container .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

body .container .header__right > a {
  color: #3f5d45;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .container .header__right > a:hover {
  text-decoration: underline;
}

body .container .footer {
  width: 100%;
}

body .container .footer__top {
  height: 116px;
  background-color: #3f5d45;
}

body .container .footer__top__area {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .footer__top__area__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5em;
}

body .container .footer__top__area__img > :first-child {
  width: 40px;
  margin: 0 10px 0 0;
}

body .container .footer__top__area__btns {
  width: 40%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container .footer__top__area__btns > :first-child {
  width: 20%;
  background-color: white;
}

body .container .footer__top__area__btns i {
  color: #3f5d45;
}

body .container .footer__top__area__btns > input {
  width: 60%;
  outline: none;
  border: 0;
  font-size: 1.2em;
}

body .container .footer__top__area__btns > :last-child {
  background-color: #ffe180;
  width: 20%;
}

body .container .footer__bottom {
  height: 341px;
  width: 100%;
  color: #3f5d45;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EAF0ED;
}

body .container .footer__bottom__first {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .footer__bottom__first__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 25px;
}

body .container .footer__bottom__first__left > :first-child {
  width: 170px;
}

body .container .footer__bottom__first__right {
  width: 50px;
  height: 100%;
  background-image: url("../img/sm-footer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body .container .footer__bottom__second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .footer__bottom__second__left > * {
  width: 32px;
}

@media screen and (max-width: 768px) {
  body .container .header .mobile-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container .header .mobile-bar > :last-child {
    margin-bottom: 10px;
  }
  body .container .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container .header__right {
    width: 15%;
  }
  body .container .header__right > :nth-child(1),
  body .container .header__right > :nth-child(2),
  body .container .header__right > :nth-child(3) {
    display: none;
  }
  body .container .footer__top {
    height: 186px;
  }
  body .container .footer__top__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60%;
  }
  body .container .footer__top__area__btns {
    width: 100%;
  }
  body .container .footer__bottom {
    height: 311px;
  }
  body .container .footer__bottom__first {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .container .footer__bottom__first__left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body .container .footer__bottom__first__right {
    display: none;
  }
  body .container .footer__bottom__second {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .container .products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .products__main {
  max-width: 940px;
  width: 100%;
  height: 496px;
  background-image: url("../img/product-page.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

body .container .products__content {
  max-width: 940px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .products__content__list {
  width: 33%;
}

body .container .products__content__list > * {
  width: 100%;
  height: 65px;
  color: #3f5d45;
}

body .container .products__content__list > :nth-child(1) {
  background-color: #3f5d45;
  color: #fff;
}

body .container .products__content__list > :nth-child(2) {
  background-color: #EAF0ED;
}

body .container .products__content .select {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

body .container .products__content .select__item {
  width: 50%;
  padding: 0 0px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .products__content .select__item .itmeA {
  background-image: url("../img/item1.jpg");
}

body .container .products__content .select__item .itmeB {
  background-image: url("../img/item2.jpg");
}

body .container .products__content .select__item .itmeC {
  background-image: url("../img/item3.jpg");
}

body .container .products__content .select__item .itmeD {
  background-image: url("../img/item4.jpg");
}

body .container .products__content .select__item .itmeE {
  background-image: url("../img/item5.jpg");
}

body .container .products__content .select__item .itmeF {
  background-image: url("../img/item6.jpg");
}

body .container .products__content .select__item__img {
  width: 100%;
  height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
}

body .container .products__content .select__item__img__text {
  background-color: #3f5d45;
  color: #fff;
  height: 100px;
  width: 36px;
}

body .container .products__content .select__item__img__heart {
  margin-top: 20px;
}

body .container .products__content .select__item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 60px;
  border: 1px solid #EAF0ED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .products__content .select__item__name__title {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #EAF0ED;
}

body .container .products__content .select__item__name__price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .products__content .select__item__addCart {
  width: 100%;
  height: 65px;
  background-color: #EAF0ED;
  outline: none;
  color: #3f5d45;
  font-size: 1.5em;
  font-weight: 500;
  border: 1px solid #EAF0ED;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .container .products__content .select__item__addCart:hover {
  color: #fff;
  background-color: #3f5d45;
}

body .container .products__bottom {
  width: 100%;
  max-width: 940px;
  margin-bottom: 60px;
}

body .container .products__bottom__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container .products__bottom__page > * {
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
  border-right: 0px;
  color: #3f5d45;
  font-size: 1.2em;
}

body .container .products__bottom__page > :nth-child(2) {
  background-color: #3f5d45;
  border: 1px solid #3f5d45;
  border-right: 0px;
  color: #fff;
}

body .container .products__bottom__page > :last-child {
  border-right: 1px solid #EAF0ED;
}

@media screen and (max-width: 768px) {
  body .container .products__main {
    width: 100%;
    height: 277px;
    margin-bottom: 0px;
  }
  body .container .products__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .container .products__content__list {
    width: 100%;
    margin-bottom: 30px;
  }
  body .container .products__content .select {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .products__content .select__item {
    padding: 0px;
    width: 80%;
    margin-bottom: 30px;
  }
  body .container .products__bottom__page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=products.css.map */